*{
    box-sizing: border-box;
}
.wrapper {
    font-size: 1rem;
    max-width: 1200px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
.box {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-color: #c78c06;
    width: 100%;
    height: 100px;
}
.topnav { 
    background-color: #222;
    text-align: center;
}
.topnav input {
    width: 90%;
}
.topnav li, a {
    color: #c78c06;
    list-style: none;
    text-decoration: none;
    padding: 12px;

}
input {
    width: 25rem;
    height: 2rem;
}
.fa-magnifying-glass {
    color: #c78c06;
    height: 33px;
    border: solid 1.5px;
    font-size: 1.5rem;

}
.containerhome {
    width: 100%;
    height: 500px;
    background-image: url("../images/main-banner.jpg");
    background-size: cover;
}
.welcome{
    height: 100%;
}
.welcome h1 {
    font-size: 3.5rem;
    font-weight: 1000;
    padding: 15px;
}
.home {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 10px; 
    color: white;
    background-color: rgba(34, 34, 34, .8);
}
.welcome p {
    margin-bottom: 20px;
    font-size: 1rem;
}
.welcome button {
    background-color: #c78c06;
    font-size: 1.5rem;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 30px 32px; 
    cursor: pointer;
}
.containeraboutus {
    background-color: #ffe6ac;
}
.pooltable img{
    max-width: 100%;
    height: auto;
    padding: 15px 15px;
}
.about h2 {
    font-size: 3rem;
    font-weight: bold;
    padding: 10px 10px;
}
.about, p {
    padding: 10px;
}
.services h1 {
    padding: 30px 0px 15px 0px;
    font-size: 2rem;
    font-weight: 1000;
}
/* sets the size and spacing of all the images */
img {
    padding-top: 10px;
    width: 100%;
    height: auto;
}
/* set the spacing and background for all information in the services page */
.digital, .marketing, .video, .web, .print {
    background-color: #ffe6ac;
    padding: 10px;
}
/* sets all the headers in the services page the same */
.digital h2, .marketing h2, .video h2, .web h2, .print h2{
    font-size: 1.5rem;
    font-weight: 1000;
    padding: 10px;
}
.visionimg {
    margin-top: 20px;
    background-image: url(../images/vision.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.vision h2 {
    padding-top: 20px;
    font-weight: 1000;
    font-size: 1.5rem;
    color: white;
}
.vision {
    margin-left: 10px;
    color: white;
}
.learn {
    background-color: #222;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 25px 30px;
    margin-bottom: 10px;
    opacity: .8;
    border: #c78c06 solid; 
    cursor: pointer
}
.teamcolor {
    background-color: #ffe6ac;
}
.team h2, h4 {
    margin-left: 10px;
    margin-right: 10px;
}
.team h1 {
    font-size: 2rem;
    font-weight: 1000;
    padding-top: 30px;
    padding-bottom: 10px;
}
.team h2 {
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight:900;
}
.team h4 {
    padding-top: 5px;
    font-weight: 1000;
    border-bottom: #c78c06 solid;
}
/* makes all buttons the same thickness and colour */
.button {
    background-color: #222;
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 25px 30px; 
    cursor: pointer
}
.contact h1 {
    font-size: 2rem;
    font-weight: 900;
    padding-top: 40px;
    padding-bottom: 30px;
}
.contact h2 {
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 10px;
}
.contact form {
    font-size: 12px;
}
.name, .email, .message {
    padding-bottom: 10px;
}
.contact input, textarea {
    width: 100%;
}
.contact .message textarea {
    height: 80px;
    resize: none;
}
.send {
    padding-bottom: 3px;
    background-color: #222;
    color: #c78c06;
    border: none;
}
.table h1 {
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table table {
    width: 100%;
    font-size: 12px;
}
.table th, td {
    border-style: solid;
    border-width: thin;
    padding: 15px;
}
.table .top {
    text-align: center;
    background-color: #ffe6ac;
}
.location h1 {
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 10px;
}
footer {
    padding-top: 5px;
    font-size: 12px;
    background-color: #222;
    color: #c78c06;
}
@media screen and (min-width: 760px) {
    .topnav {
        padding: 20px;
        padding-left: 80px;
    }
    .topnav ul{
        display: flex;
        justify-content: space-between;
    }
    .box {
        background-color: transparent;
    }
}